@keyframes slideDown {
  from {
    opacity: 0.2;
    margin-top: -40px;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

#project > h2 {
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
}

.underline {
  width: 80px;
  height: 5px;
  background-color: #5bbe82;
  margin: 20px auto 50px;
}

header {
  margin: 0 auto;
  display: inline;
}

header > nav {
  position: sticky;
  top: 0;
  padding: 10px 70px;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: #5bbe82;
}

.header-logo {
  flex-grow: 1;
}

.header-logo img {
  width: 100px;
  height: auto;
}

nav > .nav-header {
  flex-grow: 3;
  display: inline-block;
  text-align: right;
  background-color: #5bbe82;
}

.nav-header .nav-item {
  list-style: none;
  display: inline;
  margin-right: 30px;
}

.nav-header .nav-item:last-child {
  margin-right: 0px;
}

.nav-header .nav-item a {
  background-color: #5bbe82;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 5px;
}

.active > a,
.nav-header .nav-item a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.nav-header-responsive {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 35px;
  color: #212529;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#berita {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.title-page h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0 50px 0%;
  color: #2b344f;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
}

/* card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #5bbe82;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5bbe82;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #4aae73;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}


/* footer */
#footer {
  font-family: "Poppins", sans-serif;
  padding: 30px 70px 0px;
  background-color: #5bbe82;
}

.footer-content {
  display: flex;
}

.footer-logo,
.footer-kontak,
.footer-menu {
  font-weight: bold;
  flex: 1;
}

.footer-menu {
  padding-left: 150px;
}

.footer-menu h4,
.footer-kontak h4 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-kontak p {
  font-weight: bold;
  margin-bottom: 10px;
  color: #2a324c;
}

.footer-menu li {
  font-weight: bold;
  list-style: none;
  margin: 0px 0px 20px;
}

.footer-menu li > a {
  font-weight: bold;
  text-decoration: none;
  color: #2a324c;
}

.footer-logo > p {
  font-weight: bold;
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  color: #2a324c;
}

.footer-copyright {
  font-weight: bold;
  padding: 20px 0px 40px;
  margin-top: 50px;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  color: #2a324c;
}

.social-media {
  font-weight: bold;
  height: 40px;
  width: 40px;
  background-size: cover;
}

.social-media-group {
  margin-top: 20px;
}

.social-media-group a {
  display: inline-block;
  margin-right: 25px;
  text-decoration: none;
  height: 40px;
  width: 40px;
}

.instagram {
  background-image: url("../image/instagram.svg");
}

.facebook {
  background-image: url("../image/facebook.svg");
}

.twitter {
  background-image: url("../image/twitter.svg");
}

@media (max-width: 1100px) {
  .nav-header {
    padding: 10px 70px;
    position: absolute;
    top: 80px;
    left: 0px;
    flex-grow: 0;
    width: 100%;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #bebebe;
    opacity: 0;
  }

  .slide-down {
    opacity: 1 !important;
    animation: slideDown 0.5s;
  }

  .nav-header .nav-item {
    list-style: none;
    display: block;
    padding: 10px;
    text-align: left;
  }

  .nav-header .nav-item:last-child a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .active > a,
  .nav-header .nav-item a:hover {
    color: grey;
    border-bottom: none;
  }

  .nav-header-responsive {
    display: inline-block;
  }

  #jumbotron {
    padding-bottom: 10px;
  }

  #jumbotron-text > h1 {
    background-color: #5bbe82;
    font-size: 1px;
  }

  #jumbotron-illustration > img {
    width: 100%;
    margin-top: 90px;
    margin-right: 120px;
    margin-left: 130px;
  }

  #tentang-kami {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tentang-kami-image {
    width: 100%;
    height: 500px;
  }

  #product {
    padding-bottom: 70px !important;
    text-align: center;
  }

  .product-container {
    flex-direction: column;
  }

  .product-item {
    transition: none;
  }

  .product-item:hover {
    margin-top: 15px !important;
  }

  .footer-content {
    text-align: right;
    flex-direction: column;
  }

  .footer-menu {
    margin: 40px 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  .nav-header {
    padding: 5px;
  }

  header > nav {
    padding: 5px;
  }

  #jumbotron {
    flex-direction: column-reverse;
    margin-top: 60px;
    padding: 0px 25px 25px;
    text-align: center;
  }

  #jumbotron-text > h1 {
    font-size: 35px;
  }

  #jumbotron-text > p {
    text-align: justify;
    font-size: 16px;
    margin-top: 25px;
    padding-right: 0px;
  }

  #jumbotron-illustration > img {
    width: 200px;
    margin-bottom: 20px;
  }

  .table-responsive {
    overflow: scroll;
  }
}

@media screen and (max-width: 500px) {
  .nav-header {
    padding: 10px 20px;
  }

  #jumbotron {
    margin-top: 10px;
  }

  #tentang-kami {
    height: auto;
  }

  #produk {
    padding: 15px 10px;
  }

  .project-item {
    flex-basis: 60%;
  }

  .cerita-siswa-img {
    width: 250px;
    height: 250px;
    border-radius: 100px 0 100px;
  }

  .cerita-siswa-border {
    height: 250px;
    width: 250px;
    border-radius: 100px 0px 100px;
    right: 20px;
    border: 8px solid #ff9045;
    bottom: 20px;
  }

  .table-responsive {
    width: 90%;
  }

  .social-media,
  .social-media-group a {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 375px) {
  #jumbotron {
    margin-top: 100px;
  }
}

@media screen and (max-width: 350px) {
  #jumbotron {
    margin-top: 220px;
  }
}

/* Responsive Styles News */
@media screen and (max-width: 768px) {
  .title-page h1 {
    padding: 50px 0 0 50px;
    font-size: 2rem;
  }

  #about {
    flex-direction: column;
    padding: 50px;
  }

  .about-media img {
    width: 100%;
    height: auto;
  }

  .about {
    width: 100%;
    margin-top: 30px;
  }
}

/* Responsive footer */
@media screen and (max-width: 768px) {
  #footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 15px;
    height: 90vh;
  }

  .footer-logo {
    padding-right: 0;
  }

  .footer-logo img {
    display: none;
  }

  .footer-contact {
    margin-bottom: 0;
  }

  .footer-contact p {
    font-size: 15px;
  }

  .footer-contact .footer-menu {
    width: 100%;
    margin-top: 10px;
  }

  .footer-menu {
    padding-bottom: 5px;
  }
}
