@keyframes slideDown {
    from {
      opacity: 0.2;
      margin-top: -40px;
    }
    to {
      opacity: 1;
    }
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  
  header {
    margin: 0 auto;
    display: inline;
  }
  
  header > nav {
    /* position: sticky; */
    top: 0;
    padding: 10px 15%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: #5bbe82;
  }
  
  .header-logo {
    flex-grow: 1;
  }

  nav .header-logo img {
    width: 80px;
    height: auto;
  }
  
  nav > .nav-header {
    flex-grow: 3;
    display: inline-block;
    text-align: right;
    background-color: #5bbe82;
  }
  
  .nav-header .nav-item {
    list-style: none;
    display: inline;
    margin-right: 30px;
  }
  
  .nav-header .nav-item:last-child {
    margin-right: 0px;
  }
  
  .nav-header .nav-item a {
    background-color: #5bbe82;
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    padding-bottom: 5px;
    text-transform: lowercase;
  }
  
  .active > a,
  .nav-header .nav-item a:hover {
    color: black;
    border-bottom: 2px solid black;
  }
  
  .nav-header-responsive {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 35px;
    color: #212529;
  }

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.title-page h1{
    padding: 50px 0 80px 300px;
    color: #2b344f;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
  }

/* about News */
#about {
    color: #2b344f;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 300px 80px 300px;
}

.about-media img {
    width: 400px;
    height: 400px;
}

.about {
    width: 50%;
}

.about a {
    text-decoration: none;
    color: #2b344f;
}

.about a h1:hover {
    color: #5bbe82;
    transition: all ease 0.5s;
}

.about h1 {
    font-size: 2rem;
    font-weight: normal;
    color: #2b344f;
    margin-bottom: 5px;
    font-weight: bold;
}

.about h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.about p {
    font-size: 20px;
    font-weight: 145;
    text-align: justify;
    color: black;
}

  
  /* Halaman Detail */
  
  .section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
  }
  
  .section-details-content {
    margin-top: -210px;
    min-height: 100vh;
  
    .breadcrumb {
      background-color: transparent;
      padding: 0;
      margin-bottom: 30px;
    }
  
    .breadcrumb-item {
      &.active {
        font-weight: bold;
        color: #071c4d;
      }
    }
  
    .card-details {
      padding: 30px;
      border-radius: 11px;
  
      h1 {
        font-size: 26px;
      }
  
      h2 {
        font-size: 20px;
      }
  
      p {
        font-size: 18px;
        color: #312828;
      }
  
      h3 {
        font-weight: 300;
        font-size: 14px;
        color: #071c4d;
      }
  
      .trip-information {
        th {
          padding-top: 5px;
          padding-bottom: 5px;
          font-weight: 400;
          font-size: 18px;
          color: #071c4d;
        }
  
        td {
          font-weight: 300;
          font-size: 18px;
          color: #312828;
        }
  
        .text-blue {
          color: #071c4d;
          font-weight: bold;
        }
  
        .text-orange {
          color: #ff9e53;
          font-weight: bold;
        }
      }
    }
  
    .features {
      margin-top: 20px;
  
      h3 {
        font-size: 18px;
        color: #071c4d;
        margin-bottom: 0;
      }
  
      p {
        margin-bottom: 0;
      }
  
      .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;
      }
  
      .features-image {
        width: 45px;
        height: 45px;
        float: left;
      }
    }
  
    .gallery {
      .xzoom-container {
        display: block;
        text-align: center; /* Center the image */
        margin-bottom: 10px;
        overflow: hidden; /* Ensure the image stays within the container */
      }
  
      .xzoom {
        max-width: 55%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
        box-shadow: none;
        border-radius: 10px;
      }
  
      .xactive {
        border: 4px solid #1abc9c;
        box-shadow: none;
      }
    }
  
    .members {
      .member-image {
        width: 40px;
        height: 40px;
      }
    }
  
    .join-container {
      margin-top: -16px;
    }
  }
  
  .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  #footer {
    font-family: "Poppins", sans-serif;
    background-color: #5bbe82;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 50px 300px 50px 300px;
  }

  .footer-logo {
    width: 70%;
    margin-top: 50px;
  }

  .footer-logo img{
    width: 200px;
    height: auto;
  }

  .footer-contact {
    padding-top: 50px;
    padding-left: 0;
  }

  .footer-contact h4 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-contact p {
    color: #2b344f;
    font-size: 1rem;
  }

  .footer-menu {
    padding-top: 50px;
    padding-left: 150px;
  }

  .footer-menu h4 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .footer-menu li {
    list-style: none;
  }

  .footer-menu li > a {
    text-decoration: none;
    color: #2b344f;
  }


  
  .social-media {
    font-weight: bold;
    height: 40px;
    width: 40px;
    background-size: cover;
  }
  
  .social-media-group {
    margin-top: 20px;
  }
  
  .social-media-group a {
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    height: 40px;
    width: 40px;
  }
  
  .instagram {
    background-image: url("../image/instagram.svg");
  }
  
  .facebook {
    background-image: url("../image/facebook.svg");
  }
  
  .twitter {
    background-image: url("../image/twitter.svg");
  }
  
  @media (max-width: 1100px) {
    .nav-header {
      padding: 10px 70px;
      position: absolute;
      top: 80px;
      left: 0px;
      flex-grow: 0;
      width: 100%;
      box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
      border-top: 1px solid #bebebe;
      opacity: 0;
    }
  
    .slide-down {
      opacity: 1 !important;
      animation: slideDown 0.5s;
    }
  
    .nav-header .nav-item {
      list-style: none;
      display: block;
      padding: 10px;
      text-align: left;
    }
  
    .nav-header .nav-item:last-child a {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .active > a,
    .nav-header .nav-item a:hover {
      color: grey;
      border-bottom: none;
    }
  
    .nav-header-responsive {
      display: inline-block;
    }
  
    #jumbotron {
      padding-bottom: 10px;
    }
  
    #jumbotron-text > h1 {
      background-color: #5bbe82;
      font-size: 1px;
    }
  
    #jumbotron-illustration > img {
      width: 100%;
      margin-top: 90px;
      margin-right: 120px;
      margin-left: 130px;
    }
  
    #tentang-kami {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tentang-kami-image {
      width: 100%;
      height: 500px;
    }
  
    #product {
      padding-bottom: 70px !important;
      text-align: center;
    }
  
    .product-container {
      flex-direction: column;
    }
  
    .product-item {
      transition: none;
    }
  
    .product-item:hover {
      margin-top: 15px !important;
    }
  
    .footer-content {
      text-align: right;
      flex-direction: column;
    }
  
    .footer-menu {
      margin: 40px 0px;
      padding-left: 0px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .nav-header {
      padding: 5px;
    }
  
    header > nav {
      padding: 5px;
    }
  
    #jumbotron {
      flex-direction: column-reverse;
      margin-top: 60px;
      padding: 0px 25px 25px;
      text-align: center;
    }
  
    #jumbotron-text > h1 {
      font-size: 35px;
    }
  
    #jumbotron-text > p {
      text-align: justify;
      font-size: 16px;
      margin-top: 25px;
      padding-right: 0px;
    }
  
    #jumbotron-illustration > img {
      width: 200px;
      margin-bottom: 20px;
    }
  
    .table-responsive {
      overflow: scroll;
    }
  }
  
  @media screen and (max-width: 500px) {
    .nav-header {
      padding: 10px 20px;
    }
  
    #jumbotron {
      margin-top: 10px;
    }
  
    #tentang-kami {
      height: auto;
    }
  
    #produk {
      padding: 15px 10px;
    }
  
    .project-item {
      flex-basis: 60%;
    }
  
    .cerita-siswa-img {
      width: 250px;
      height: 250px;
      border-radius: 100px 0 100px;
    }
  
    .cerita-siswa-border {
      height: 250px;
      width: 250px;
      border-radius: 100px 0px 100px;
      right: 20px;
      border: 8px solid #ff9045;
      bottom: 20px;
    }
  
    .table-responsive {
      width: 90%;
    }
  
    .social-media,
    .social-media-group a {
      width: 24px;
      height: 24px;
    }
  }
  
  @media screen and (max-width: 375px) {
    #jumbotron {
      margin-top: 100px;
    }
  }
  
  @media screen and (max-width: 350px) {
    #jumbotron {
      margin-top: 220px;
    }
  }
  
/* Responsive Styles News */
@media screen and (max-width: 768px) {
    .title-page h1 {
        padding: 50px 0 0 50px;
        font-size: 2rem;
    }
    
    #about {
        flex-direction: column;
        padding: 50px;
    }
    
    .about-media img {
        width: 100%;
        height: auto;
    }
    
    .about {
        width: 100%;
        margin-top: 30px;
    }
}
  
/* Responsive footer */
@media screen and (max-width: 768px) {
    #footer {
        display: flex;
        flex-direction: column;
        padding: 50px;
        font-size: 15px;
        height: 90vh;
    }

    .footer-logo {
        padding-right: 0;
    }
    
    .footer-logo img {
        display: none;
    }

    .footer-contact {
        margin-bottom: 0;
    }

    .footer-contact p {
        font-size: 15px;
    }
    
    .footer-contact .footer-menu {
        width: 100%;
        margin-top: 10px;
    }

    .footer-menu {
        padding-bottom: 5px;
    }
}
  